* {
  margin: 0;
  padding: 0;
}

.login-view {
  display: flex;
  background-image: url(../Resourses/background.png);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  background: linear-gradient(to top, rgba(56, 158, 174, .5), rgba(32, 181, 139, .5) ,rgba(83, 181, 192, 0.5));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  height: 80%;
}

.logo-notes {
  width: 100%;
  height: auto;
  margin: 5% 12.5% 0;
}
.title{
  width: 70%;
  margin: 0 15%;
}
.text-welcome {
  width: 50%;
  margin: 5% 25% 0;
}
.text-notes {
  width: 50%;
  margin: 5% 25% 0;
}

.text-start-sesion {
  width: 50%;
  margin: 5% 25% 0;
}

.logo-google {
  width: 15%;
  margin:  2% 42.5% 3%;
}
